@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Ostrovsky";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Ostrovsky-Bold_0.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  color: #061538;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}

.ostrovsky-caps {
  font-size: calc(20px + 20 * (100vw - 320px) / 1640);
  font-family: Ostrovsky;
}

.container {
  display: flex;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 40px;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding-block: 23px;
}

/* Лозунг-2 */

.frame-313 {
  display: flex;
  align-items: center;
  width: 1527px;
  margin-left: auto;
  margin-right: auto;
}

.rabbit {
  width: 755px;
  height: 800px;
  margin-right: 40px;
}

.frame-322 {
  color: #061538;
}

.Ostrovsky-top {
  margin-bottom: 40px;
}

/* Преимущества-2 */

.advantages-2 {
  align-items: center;
  justify-content: space-around;
}

.frame-285 {
  color: #061538;
  width: 611px;
}

.advantages {
  margin-top: 80px;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.text-advantages {
  position: relative;
  z-index: 1;
  margin-bottom: -30px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.union {
  width: 100%;
}

/* Лозунг-1 */

.city {
  width: 755px;
  height: 800px;
  margin-left: 40px;
}

/* footer */

.social {
  margin-block: 60px;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.social-networks {
  display: flex;
  gap: 40px;
}

.footer-bottom {
  justify-content: space-between;
}

.contacts {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
