@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Ostrovsky";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Ostrovsky-Bold_0.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  color: #061538;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}

.ostrovsky-caps {
  font-size: calc(20px + 20 * (100vw - 320px) / 1640);
  font-family: Ostrovsky;
}

.manrope{
  font-family: Manrope;
  font-size: calc(16px + 20 * (100vw - 320px) / 1640);
  font-weight: bold;
}

.container {
  display: flex;
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 40px;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding-block: 23px;
}

/* Лозунги */

.slogan {
  display: flex;
  align-items: center;
  max-width: 1527px;
  gap: 40px;
}

.slogan-2, .slogan-1 {
  justify-content: center;
}

.slogan-article {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rabbit, .city, .book-fragment {
  width: 50%;
}

/* Преимущества-2 */

.advantages-2 {
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.advantages {
  margin-top: 80px;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.advantages2-article{
  max-width: 650px;
}

.text-advantages {
  position: relative;
  z-index: 1;
  margin-bottom: -30px;
}

.union {
  width: 100%;
}

/* slider */

.winter-stories {
  background-color: #41B9FF;
}

/* footer */

.social {
  margin-block: 60px;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.social-networks {
  display: flex;
  gap: 40px;
}

.footer-bottom {
  justify-content: space-between;
}

.contacts {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
